
.element {
  color: #363;
  padding-left: 6px;
}

footer {
  font-size: 10px;
  padding-top: 20px;
}

.bold{
font-weight:bold;}


table {
    border-collapse: collapse;
    width: 100%;
}

textarea {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    color: #363;
	font-size: 12px;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.txtarea{
    color: #363;
    min-height:200px;
    display:block;
    width:100%;
    padding-top: 10px
}


.testBugButton{
    background-color:#dddddd;
    color:#363;
    font-family:arial;
    font-size:13px;
    border:2px solid #dddddd;
    padding:6px;
}

.testBugButton:hover{
    background-color:#EFEFEF;
    border:2px solid #EFEFEF;
}

.padding{
  padding:6px;
}

h4 {
  color: #363;
}
